<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GREEN_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,368},{37,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,28}}</string>
				<key>sourceSize</key>
				<string>{37,28}</string>
			</dict>

			<key>GREEN_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,58},{76,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,57}}</string>
				<key>sourceSize</key>
				<string>{76,57}</string>
			</dict>

			<key>GREEN_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,468},{114,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,86}}</string>
				<key>sourceSize</key>
				<string>{114,86}</string>
			</dict>

			<key>GREEN_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,112},{152,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,111}}</string>
				<key>sourceSize</key>
				<string>{152,114}</string>
			</dict>

			<key>GREEN_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,229},{190,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,138}}</string>
				<key>sourceSize</key>
				<string>{190,138}</string>
			</dict>

			<key>RED_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,368},{37,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,28}}</string>
				<key>sourceSize</key>
				<string>{37,28}</string>
			</dict>

			<key>RED_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,0},{76,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,57}}</string>
				<key>sourceSize</key>
				<string>{76,57}</string>
			</dict>

			<key>RED_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,224},{114,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,86}}</string>
				<key>sourceSize</key>
				<string>{114,86}</string>
			</dict>

			<key>RED_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,0},{152,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,111}}</string>
				<key>sourceSize</key>
				<string>{152,114}</string>
			</dict>

			<key>RED_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,422},{190,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,138}}</string>
				<key>sourceSize</key>
				<string>{190,138}</string>
			</dict>

			<key>arrowmove1.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,311},{74,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{74,54}}</string>
				<key>sourceSize</key>
				<string>{74,58}</string>
			</dict>

			<key>arrowmove2.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,368},{139,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,11},{139,99}}</string>
				<key>sourceSize</key>
				<string>{152,114}</string>
			</dict>

			<key>arrowmove3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,422},{193,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,15},{193,144}}</string>
				<key>sourceSize</key>
				<string>{228,171}</string>
			</dict>

			<key>arrowmove4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,229},{257,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,20},{257,192}}</string>
				<key>sourceSize</key>
				<string>{304,228}</string>
			</dict>

			<key>arrowmove5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{305,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,26},{305,228}}</string>
				<key>sourceSize</key>
				<string>{380,285}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{564,567}</string>
			<key>textureFileName</key>
			<string>mapMoveUtil.png</string>
			</dict>
		</dict>
</plist>